<div class="container">
  <nav class="navbar">

    <div style="flex-basis: 40%; justify-content: flex-start;" class="nav-button">
      <app-nav-button (click)="onNavigate('team')">Our Team</app-nav-button>
      <app-nav-button (click)="onNavigate('hours')">Hours</app-nav-button>
      <app-nav-button (click)="onNavigate('about')">About</app-nav-button>
    </div>

    <div
      style="flex-basis: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center;margin-top: 1em;">
      <h1 id="main-barbershop">BARBERSHOP</h1>
      <h1 id="main-denim">DENIM</h1>
    </div>

    <div style="flex-basis: 40%; justify-content: flex-end;" class="nav-button">
      <app-nav-button (click)="onNavigate('products')">Services</app-nav-button>
      <app-nav-button (click)="onNavigate('gallery')">Gallery</app-nav-button>
      <app-nav-button (click)="onNavigate('location')">Map</app-nav-button>
    </div>
  </nav>

  <div class="menu-toggle">
    <i class="fas fa-bars  fa-2x" (click)="onOpen()"></i>
  </div>

  <div class="menu" #menu>
    <div style="display: flex; justify-content: flex-end; padding: 10px;">
      <i style="color: white; " class="fas fa-times" (click)="onClose()"></i>
    </div>
    <h3 class="menu-item" (click)="onNavigate('products')">Services</h3>
    <h3 class="menu-item" (click)="onNavigate('team')">Our Team</h3>
    <h3 class="menu-item" (click)="onNavigate('gallery')">Gallery</h3>
    <h3 class="menu-item" (click)="onNavigate('hours')">Hours</h3>
    <h3 class="menu-item" (click)="onNavigate('contact')">Contact Us</h3>
    <h3 class="menu-item" (click)="onNavigate('about')">About</h3>
    <h3 class="menu-item" (click)="onNavigate('location')">Map</h3>
  </div>
  <div class="hidden-layer" #other (click)="onClose()"></div>


  <div class="frame"   [ngClass]="{'animateIn': triggerAnimation}">
    <video [autoplay]="true" loop [muted]="true" playsinline>
      <source src="../../assets/media/vid1.mp4" type="video/mp4" poster='../../assets/media/video_bg_2.png'>
    </video>
  </div>


  <div class="header-content"
    style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div class="book-button" (click)="onBook()">
      <h1>BOOK NOW</h1>
    </div>
    <h2 style="text-shadow: 1px 1px black;">1517 South Street Philadelphia, PA 19146</h2>
    <h3 style="text-shadow: 1px 1px black;">(267) 930-3980</h3>
    <div style="display: flex; width: 200px; justify-content: space-around; color: white;">
      <i class="fab fa-instagram fa-3x" style="cursor: pointer;" (click)="onInsta()"></i>
      <i class="fab fa-yelp fa-3x" style="cursor: pointer;" (click)="onYelp()"></i>
      <i class="far fa-envelope fa-3x" style="cursor: pointer;" (click)="onEmail()"></i>
    </div>
  </div>
</div>
