<div style="background-color: black; display: flex; justify-content: space-between; padding: 0 100px">
  <div style="display: flex; flex-direction: column; justify-content: center; flex-basis: 50%;" >
    <ul >
      <li class="footer-link">Team</li>
      <li class="footer-link">Services</li>
      <li class="footer-link">Gallery</li>
      <li class="footer-link">About</li>
      <li class="footer-link">Hours</li>
      <hr>
    </ul>
  </div>
  <div style="display: flex; flex-basis: 250px; flex-direction: column; align-items: center;">
    <img src="../../assets/media/logo_lg.png" height="150px" width="150px">
    <p style="font-size: small;">&copy; {{year}} Barbershop Denim™</p>
  </div>
  <div style="display: flex; flex-direction: column; align-items: flex-end; justify-content: center; flex-basis: 50%;">
    <div class="book-button">
        <h3>Make an appointment</h3>
    </div>
    
    <div style="display: flex; width: 260px; justify-content: space-around; color: white;">
      <i class="fab fa-instagram fa-3x" style="cursor: pointer;"></i>
      <i class="fab fa-yelp fa-3x" style="cursor: pointer;"></i>
      <i class="far fa-envelope fa-3x" style="cursor: pointer;"></i>
    </div>
  </div>
</div>
