p,
h3 {
  font-size: 20px;
  text-shadow: 2px 2px 5px black;
  font-weight: 800;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1em;
}


@media screen and (max-width: 1200px) {
  h3 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  .item {
    margin-top: .5em;
    margin-bottom: .5em;
  }
}
