
h3 {
  font-size: 20px;
  text-shadow: 1px 1px 1px black;
}


@media screen and (max-width: 1200px) {
  h3 {
    font-size: 1.2em;
  }
  p {
    font-size: 1em;
  }
}


@media screen and (max-width: 1000px) {
  h3 {
    font-size: 1em;
  }
  p {
    font-size: .7em;
  }
}


@media screen and (max-width: 600px) {
    h3 {
        font-size: .7em;
      }
}
