// .bg {
//   background-image: url("/assets/media/art_orig.jpg"),
//     radial-gradient(#212121 20%, transparent 20%), radial-gradient(#FAFAFA 20%, transparent 20%);
//   background-repeat: no-repeat, repeat;
//   background-size: cover;
//   background-position: center;
//   background-blend-mode: normal;
// }

// .bg {
//   background-image:
//     url("/assets/media/art_orig.jpg"),
//     radial-gradient(#212121 20%, transparent 20%),
//     radial-gradient(#212121 20%, transparent 20%),
//     radial-gradient(#212121 20%, transparent 20%),
//     radial-gradient(#212121 20%, transparent 20%),
//     radial-gradient(#212121 20%, transparent 20%),
//     radial-gradient(#212121 20%, transparent 20%),
//     radial-gradient(#212121 20%, transparent 20%),
//     radial-gradient(#212121 20%, transparent 20%);
//   background-color: #fff;
//   background-size: cover, 48px 48px, 48px 48px, 48px 48px, 48px 48px, 48px 48px, 48px 48px, 48px 48px, 48px 48px;
//   background-repeat: no-repeat, repeat, repeat, repeat, repeat, repeat, repeat, repeat, repeat;
//   background-position: 0 0, 12px 12px, 24px 24px, 36px 36px, 36px 12px, 12px 36px, 0 24px, 24px 0;
//   background-blend-mode: multiply;
// }

.outer {
  margin-left: -10%;
  height: 100%;
  width: calc(100% + 10%);
  position: relative;
  clip-path: polygon(12% 4%, 100% 0, 100% 100%, 0% 100%);
  background-color: black;
  display: flex;
  justify-content: center;
}

.inner {
  clip-path: polygon(12% 4%, 100% 0, 100% 100%, 0% 100%);
  top: 5px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  position: relative;
  display: flex;
  justify-content: center;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1 1;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 24px;
  
}

.bg {
  background-color: var(--main-color);
  //   background-image: url("/assets/media/storefront.jpg");

    // background-image: url("/assets/media/denim.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // background-blend-mode: normal;
}



.frame {
  width: 80%;
  padding: 24px;
  margin-top: -24px;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0px 5px 25px black;
}

.title {
  text-align: center;
  position: relative;
  z-index: 2;
}

p {
  font-weight: 100;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px black;
}


@media screen and (max-width: 1400px) {
  .outer {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
    height: fit-content;
  }

  .inner {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin-bottom: 10px;
  }

  .content {
    align-items: center;
    padding: 20px 0;
  }

  p {
    font-size: 1.1em;
  }
}


@media screen and (max-width: 600px) {
  .frame {
    width: 100%;
    padding: 24px 12px;
  }

  .content {
    padding: 20px 30px;
  }
}
