// .bg {
//   background-image: url("/assets/media/art_orig.jpg"),
//     radial-gradient(#212121 20%, transparent 20%), radial-gradient(#FAFAFA 20%, transparent 20%);
//   background-repeat: no-repeat, repeat;
//   background-size: cover;
//   background-position: center;
//   background-blend-mode: normal;
// }

// .bg {
//   background-image:
//     url("/assets/media/art_orig.jpg"),
//     radial-gradient(#212121 20%, transparent 20%),
//     radial-gradient(#212121 20%, transparent 20%),
//     radial-gradient(#212121 20%, transparent 20%),
//     radial-gradient(#212121 20%, transparent 20%),
//     radial-gradient(#212121 20%, transparent 20%),
//     radial-gradient(#212121 20%, transparent 20%),
//     radial-gradient(#212121 20%, transparent 20%),
//     radial-gradient(#212121 20%, transparent 20%);
//   background-color: #fff;
//   background-size: cover, 48px 48px, 48px 48px, 48px 48px, 48px 48px, 48px 48px, 48px 48px, 48px 48px, 48px 48px;
//   background-repeat: no-repeat, repeat, repeat, repeat, repeat, repeat, repeat, repeat, repeat;
//   background-position: 0 0, 12px 12px, 24px 24px, 36px 36px, 36px 12px, 12px 36px, 0 24px, 24px 0;
//   background-blend-mode: multiply;
// }

.outer {
  width: 110%;
  margin-left: -10%;
  height: 100%;
  position: relative;
  clip-path: polygon(12% 4%, 100% 0, 100% 100%, 0% 100%);
  background-color: black;
}

.inner {
  clip-path: polygon(12% 4%, 100% 0, 100% 100%, 0% 100%);
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1 1;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 24px;
  //   background-image: url("/assets/media/storefront.jpg");
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: center;
  //   background-blend-mode: normal;
  background-color: var(--main-color);
}

.outer-frame {
  padding-left: 100px;
  width: 80%;
}

.frame {
  background-color: rgba(0, 0, 0, .5);
  padding: 24px;
  margin-top: -24px;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, .5);
}

.title {
  text-align: center;
  position: relative;
  z-index: 2;
}

p {
  font-weight: 100;
  text-shadow: 1px 1px 1px black;
}


@media screen and (max-width: 1400px) {
  .outer {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin-left: 0;
    height: 300px;
    width: 100%;
    margin-top: 10px;
  }

  .inner {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .content {
    align-items: center;
    padding: 20px 0;
  }

  .outer-frame {
    width: 90%;
    padding: 0;
  }

  p {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 1200px) {
  .outer {
    height: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .outer {
    height: 400px;
  }
}

@media screen and (max-width: 750px) {
  .outer {
    height: 450px;
  }
}

@media screen and (max-width: 650px) {
  .outer {
    height: 500px;
  }

  .outer-frame {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .outer {
    height: 550px;
  }
}

@media screen and (max-width: 500px) {
  .outer {
    height: 650px;
  }
}

@media screen and (max-width: 420px) {
  .outer {
    height: 750px;
  }
}
