<div class="bg"
  style="clip-path: polygon(8% 5%, 100% 0, 100% 100%, 0% 100%); display: flex; justify-content: center; height: 100%;">
  <div
    style="display: flex; flex-direction: column; align-items: flex-end;  flex-basis: 100%; padding-right: 40px; padding-top: 40px; padding-bottom: 24px;">
    <h1 class="title">ABOUT</h1>
    <div style="padding-left: 100px; width: 80%;">
      <div class="frame">
        <p>Barber Shop Denim™ is a lifestyle grooming experience located on South Street in the heart of Center City
          Philadelphia.
          We specialize in men's and women's hair cuts, hot shaves, buzz cuts, beard trims, and kid's cuts.
          Our attention to every little detail to make each individual's haircut unique. We strive to tailor each
          appointment to your every request,
          and have you leave Barber Shop Denim with the haircut you desire.
        </p>
        <p>Every hair cut is finished with a razor
          shave on the neck, and your hair style at your request. We love catering to the many individuals that come
          through
          our door.
          Our track record of happy clients can be found on our Yelp page, along with Facebook and Google reviews.
        </p>
      </div>
    </div>
  </div>
