.item {
    display: inline-block;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 6px 6px 6px black;
    transition: all .25s;
    cursor: pointer;
  }
  
  .item:hover {
    transform: scale(1.1);
  }