.title {
  transform: skew(-10deg, 0);
  left: -100px;
  position: absolute;
  top: 12px;
  z-index: 10;
}

.outer {
  clip-path: polygon(0 43px, 45% 0, 100% 150px, 100% calc(100% - 50px), 32% 99%, 0 calc(100% - 50px));
  margin: 0px 20px -30px 20px;
  position: relative;
  background-color: black;
  padding-bottom: 10px;
}

.inner {
  background: rgb(41, 114, 182);
  clip-path: polygon(0 43px, 45% 0, 100% 150px, 100% calc(100% - 50px), 32% 99%, 0 calc(100% - 50px));
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  position: relative;
  overflow: hidden;
  width: calc(100% - 10px);
}

.gallery {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  transition-property: all;
  transition-duration: 1s;
}

.gallery-narrow {
  display: none;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: 300px 300px;
}

.row {
  display: flex;
  white-space: nowrap;
  transition-property: all;
  transition-duration: 1s;
}

@media screen and (max-width: 960px) {
  .gallery {
    display: none;
  }

  .gallery-narrow {
    display: block;
  }

  .title {
    top: 24px;
  }
}

@media screen and (max-width: 600px) {
  .inner {
    clip-path: polygon(0 48px, 45% 10px, 100% 150px, 100% calc(100% - 50px), 32% 99%, 0 calc(100% - 50px));

  }

  .outer {
    clip-path: polygon(0 48px, 45% 10px, 100% 150px, 100% calc(100% - 50px), 32% 99%, 0 calc(100% - 50px));
  }

  .title {
    top: 36px;
    left: -50px;
  }
}

