<div
  style="clip-path: polygon(0 43px, 45% 0, 100% 150px, 100% calc(100% - 50px), 36% 100%, 0 calc(100% - 50px)); background-color: rgb(41, 114, 182); margin: -150px 20px -30px 20px;">
  <div style="padding-top: 20px; padding-bottom: 50px;">
    <div style="display: flex; flex-direction: column; align-items: center;" class="test">
      <h1 style="margin-right: 200px;">GALLERY</h1>
      <div  style="display: flex;" class="test">
        <div *ngFor="let img of images" style="width: 200px; height: 400px;" class="test"></div>
      </div>
    </div>
  </div>
</div>
