.title {
  transform: skew(-10deg, 0);
  padding-bottom: 12px;
  margin-right: 400px;
}

.outer {
  clip-path: polygon(0 43px, 45% 0, 100% 150px, 100% calc(100% - 50px), 32% 99%, 0 calc(100% - 50px)); 
  margin: -150px 20px -30px 20px; 
  position: relative;
  height: 600px;
  background-color: black;
}

.inner {
  background:  rgb(41, 114, 182); 
  clip-path: polygon(0 43px, 45% 0, 100% 150px, 100% calc(100% - 50px), 32% 99%, 0 calc(100% - 50px)); 
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  position: absolute;
}


.item {
  margin: 12px;
  width:  340px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 6px 6px 6px black;
}