

h3,
p {
  color: white;
  font-weight: 400;
}

h1 {
  margin: 8px 0;
}

button {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 0;
  width: 100px;
  padding: 12px 24px;
  appearance: none;
}

button:focus {
  outline: none;
}

// img {
// //   // border: 5px solid black;
// //   box-shadow: 2px 2px 5px black;
//     // width: 100%;
//     // height: auto;
//     // max-height: 60vh;
//     // max-width: auto;
// }

.container {
  height: 80vh;
  max-width: 500px;
  width: 50vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 960px) {
  .container {
    width: 50vw;
    max-height: 80vh;
    height: 60vh;
  }
}


@media screen and (max-width: 550px) {
  .container {
    width: 84vw;
    max-height: 80vh;
    height: 50vh;
  }
}
