<div style="display: flex; flex-direction: column; justify-content: center; overflow-x: hidden;">

  <app-header></app-header>

  <div class="second-row">
    <app-team class="team"></app-team>
    <app-products class="products"></app-products>
  </div>

  <app-gallery></app-gallery>

  <div style="padding: 0 20px; justify-content: space-between;" class="break-panel-wide">
    <app-hours style="flex-basis: 35%;"></app-hours>
    <app-contact style="flex-basis: 30%;"></app-contact>
    <app-about style="flex-basis: 35%;"></app-about>
  </div>

  <div style="padding: 0 20px; justify-content: space-between;" class="break-panel-narrow">
    <app-contact style="flex-basis: 30%;"></app-contact>
    <app-hours style="flex-basis: 70%;"></app-hours>
  </div>

  <div style="padding: 0 20px; " class="break-panel">
    <app-about></app-about>
  </div>

  <app-location></app-location>

  <app-footer></app-footer>
</div>

<!-- <div style="margin-top: 20px; margin-left: 20px; background-color: black; width: 500px; display: flex; align-items: center; height: 100%;">
  <div style="position: relative; top: 5px; left: 5px; background-color: aqua; margin-bottom: 10px; width: calc(100% - 10px);">
    <div style="display: flex; justify-content: center; align-items: center;">
      <h1>HERE</h1>
    </div>
  </div>
</div> -->
