.break-panel-narrow {
  display: none;
}

.break-panel-wide {
  display: flex;
}

.break-panel {
  display: none;
}


.team {
  flex-basis: 50%;
}

.products {
  flex-basis: 50%;
}

.second-row {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

@media screen and (max-width: 1400px) {
  .break-panel-wide {
    display: none;
  }

  .break-panel-narrow {
    display: flex;
  }

  .break-panel {
    display: block;
  }
}

@media screen and (max-width: 960px) {
    .second-row {
        flex-direction: column-reverse;
    }
}
