<nav style="display: flex; justify-content: space-between; align-items: center; background-color: rgb(19, 50, 79)">
  <div style="flex-basis: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center; padding-bottom: .5em;">
    <h1 id="main-barbershop">BARBERSHOP</h1>
    <h1 id="main-denim">DENIM</h1>
  </div>
  <h1 style="margin: 0; text-align: center;" class="title">
    Admin Mode
  </h1>
  <div style="margin-right: 1em">
    <h3 style="margin: 0; white-space: nowrap;" (click)="onLogOut()">
      Log Out
    </h3>
  </div>
</nav>
<mat-tab-group>
  <mat-tab label="Services">
    <ng-template matTabContent>
      <app-products-editor></app-products-editor>
    </ng-template>
  </mat-tab>
  <mat-tab label="Hours">
    <ng-template matTabContent>
      <app-hours-editor></app-hours-editor>
    </ng-template>
  </mat-tab>
  <mat-tab label="About">
    <ng-template matTabContent>
      <app-about-editor></app-about-editor>
    </ng-template>
  </mat-tab>
  <mat-tab label="Gallery">
    <ng-template matTabContent>
      <app-gallery-editor></app-gallery-editor>
    </ng-template>
  </mat-tab>
  <mat-tab label="Team">
    <ng-template matTabContent>
      <app-team-editor></app-team-editor>
    </ng-template>
  </mat-tab>
</mat-tab-group>
