<mat-tab-group>
  <mat-tab label="Services">
    <ng-template matTabContent>
      <app-products-editor></app-products-editor>
    </ng-template>
  </mat-tab>
  <mat-tab label="Hours">
    <ng-template matTabContent>
      <app-hours-editor></app-hours-editor>
    </ng-template>
  </mat-tab>
  <mat-tab label="About">
    <ng-template matTabContent>
      <app-about-editor></app-about-editor>
    </ng-template>
  </mat-tab>
  <mat-tab label="Gallery">
    <ng-template matTabContent>
      <div>NEED TO SET UP GALLERY EDITOR COMPONENT</div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Team">
    <ng-template matTabContent>
      <div>NEED TO SET UP TEAM EDITOR COMPONENT</div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
