<h1 style="color: black">Edit About Content</h1>
<mat-dialog-content>
  <form [formGroup]="aboutForm">
    <div formArrayName="content" *ngFor="let paragraph of content.controls; let i=index">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Paragraph {{i+1}}</mat-label>
        <textarea name="closeTime" matInput [formControl]="paragraph" cdkTextareaAutosize></textarea>
        <!-- <mat-error *ngIf="hoursForm.invalid">Must include a close time</mat-error> -->
      </mat-form-field>
    </div>
  </form>
  <div style="display: flex; justify-content: center;">
    <button mat-flat-button color="accent" (click)="onRemove()">Remove Last</button>
    <button mat-flat-button style="background: #69f0ae;" (click)="onAdd()">Add Paragraph</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions style="display: flex; flex-direction: column; align-items: center; padding-top: 2em;">
  <p style="color: red; font-weight: 700;" *ngIf="error">{{error}}</p>
  <div style="display: flex; justify-content: center;">
    <button mat-flat-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" (click)="onSave()">Save</button>
  </div>
</mat-dialog-actions>
