:host {
  --color1: rgb(3, 12, 64);
  --color2: #FFF;
}

ul {
  list-style-type: none;
}

.bg {
  background-image: url("/assets/media/wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: normal;
  background-attachment: fixed
}


.outer {
  clip-path: polygon(13% 80px, 100% 0%, 100% 100%, 4% calc(100% - 145px));
  margin-top: -145px;
  margin-left: -12%;
  height: calc(100% + 145px);
  background-color: black;
  opacity: 0;
}

.inner {
  clip-path: polygon(13% 80px, 100% 0%, 100% 100%, 4% calc(100% - 145px));
  position: relative;
  top: 5px;
  left: 5px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  margin-top: 100px;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  // background-color: rgba(0, 0, 0, .8);
  background-color: var(--button-bg);
  backdrop-filter: blur(10px);
  box-shadow: 10px 10px 25px black;
}

.title {
  transform: skew(-10deg, 0);
}


ul {
  width: 80%;
}

@media screen and (max-width: 1400px) {
  // .content {
  //   margin-right: 24px;
  // }
}

@media screen and (max-width: 1200px) {
  .content {
    width: 90%;
    margin-left: 10%;
  }
  .outer {
    height: calc(100% + 240px);
  }
}

@media screen and (max-width: 1000px) {
  ul {
    padding-inline-start: 0;
  }
}

@media screen and (max-width: 960px) {
  .outer {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% calc(100% - 80px));
    justify-content: center;
    align-items: center;
    margin-left: 0;
    padding-bottom: 10px;
  }

  .inner {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% calc(100% - 80px));
    top: 5px;
  }

  .content {
    margin-top: 40px;
    margin-left: 0;
  }

  @supports (-webkit-touch-callout: none) {
    .bg {
      background-attachment: scroll;
    }
  }
}


@media screen and (max-width: 550px) {
  .content {
    width: 100%;
  }
}


.animateIn {
  animation: fadeRight .7s ease-in-out both;
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translate(20%);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}




// @media screen and (max-width: 700px) {
//   ul {
//     width: 97%;
//   }

//   .content {
//     width: 100%;
//     margin-left: 0;
//     margin-right: 0;
//     padding-left: 8%;

//   }

//   .title {
//     font-size: 2.5em;
//   }
// }



// .bg {
//   $bgcolor: #E9F1DF;
//   $transparent: rgba(255, 255, 255, 0);

//   $color-5: #fff;
//   $color-4: rgb(17, 53, 112);
//   $color-3: rgb(17, 53, 112);
//   $color-2: rgb(17, 53, 112);
//   $color-1: #fff;

//   $size: 6em;
//   $big-size: $size*2;
//   $min: 0;
//   $max: $size*.17;

//   background:
//     linear-gradient(to right top,
//       $transparent $min,
//       $color-5 $min, $color-5 $max,
//       $transparent $max) $size 0,
//     linear-gradient(to left bottom,
//       $transparent $min,
//       $color-5 $min, $color-5 $max,
//       $transparent $max) $size 0,
//     linear-gradient(to right bottom,
//       $transparent $min,
//       $color-5 $min, $color-5 $max,
//       $transparent $max) $size 0,
//     linear-gradient(to left top,
//       $transparent $min,
//       $color-5 $min, $color-5 $max,
//       $transparent $max) $size 0,

//     linear-gradient(to right top,
//       $transparent $min,
//       $color-5 $min, $color-5 $max,
//       $transparent $max) 0 $size,
//     linear-gradient(to left bottom,
//       $transparent $min,
//       $color-5 $min, $color-5 $max,
//       $transparent $max) 0 $size,
//     linear-gradient(to right bottom,
//       $transparent $min,
//       $color-5 $min, $color-5 $max,
//       $transparent $max) 0 $size,
//     linear-gradient(to left top,
//       $transparent $min,
//       $color-5 $min, $color-5 $max,
//       $transparent $max) 0 $size,

//     linear-gradient(to right top,
//       $transparent $min,
//       $color-1 $min, $color-1 $max,
//       $color-2 $min*2, $color-2 $max*2,
//       $color-3 $min*3, $color-3 $max*3,
//       $color-4 $min*4, $color-4 $max*4,
//       $color-5 $min*5, $color-5 $max*5,
//       $transparent $max) 0 0,
//     linear-gradient(to right bottom,
//       $transparent $min,
//       $color-1 $min, $color-1 $max,
//       $color-2 $min*2, $color-2 $max*2,
//       $color-3 $min*3, $color-3 $max*3,
//       $color-4 $min*4, $color-4 $max*4,
//       $color-5 $min*5, $color-5 $max*5,
//       $transparent $max) 0 0,
//     linear-gradient(to left top,
//       $transparent $min,
//       $color-1 $min, $color-1 $max,
//       $color-2 $min*2, $color-2 $max*2,
//       $color-3 $min*3, $color-3 $max*3,
//       $color-4 $min*4, $color-4 $max*4,
//       $color-5 $min*5, $color-5 $max*5,
//       $transparent $max) 0 0,
//     linear-gradient(to left bottom,
//       $transparent $min,
//       $color-1 $min, $color-1 $max,
//       $color-2 $min*2, $color-2 $max*2,
//       $color-3 $min*3, $color-3 $max*3,
//       $color-4 $min*4, $color-4 $max*4,
//       $color-5 $min*5, $color-5 $max*5,
//       $transparent $max) 0 0,

//     linear-gradient(to right top,
//       $transparent $min,
//       $color-1 $min, $color-1 $max,
//       $color-2 $min*2, $color-2 $max*2,
//       $color-3 $min*3, $color-3 $max*3,
//       $color-4 $min*4, $color-4 $max*4,
//       $color-5 $min*5, $color-5 $max*5,
//       $transparent $max) $size $size,
//     linear-gradient(to right bottom,
//       $transparent $min,
//       $color-1 $min, $color-1 $max,
//       $color-2 $min*2, $color-2 $max*2,
//       $color-3 $min*3, $color-3 $max*3,
//       $color-4 $min*4, $color-4 $max*4,
//       $color-5 $min*5, $color-5 $max*5,
//       $transparent $max) $size $size,
//     linear-gradient(to left top,
//       $transparent $min,
//       $color-1 $min, $color-1 $max,
//       $color-2 $min*2, $color-2 $max*2,
//       $color-3 $min*3, $color-3 $max*3,
//       $color-4 $min*4, $color-4 $max*4,
//       $color-5 $min*5, $color-5 $max*5,
//       $transparent $max) $size $size,
//     linear-gradient(to left bottom,
//       $transparent $min,
//       $color-1 $min, $color-1 $max,
//       $color-2 $min*2, $color-2 $max*2,
//       $color-3 $min*3, $color-3 $max*3,
//       $color-4 $min*4, $color-4 $max*4,
//       $color-5 $min*5, $color-5 $max*5,
//       $transparent $max) $size $size;
//   background-size: $big-size $big-size;
//   background-color: $bgcolor;
//   background-repeat: repeat;
//   font: 16px 'Trebuchet MS', Verdana, sans-serif;
// }
