:host {
  --color1: rgb(3, 12, 64);
  --color2: #FFF;
}

ul {
  list-style-type: none;
}

.bg {
  // background: radial-gradient(4rem,
  // rgba(255,255,255,0) 80%, 
  // var(--color2) 80%,  var(--color2) 99%, 
  // rgba(255,255,255, 0) 
  // ) 0 0,
  // radial-gradient(4rem,
  // rgba(255,255,255,0) 80%, 
  // var(--color2) 80%,  var(--color2) 99%,  
  // rgba(255,255,255, 0) 
  // ) 4em 4em;
  background-image:
    repeating-linear-gradient(-45deg,
    #C92228,
    #C92228 4rem,
    #fff 4rem,
    #fff 8rem,
    #3b5998 8rem,
    #3b5998 12rem,
    #fff 12rem,
    #fff 16rem);
  background-size: 100% 100%;
}

.title {
  transform: skew(-10deg, 0);
}