:host {
    --color1: rgb(3, 12, 64);
    --color2: #FFF;
}

ul {
    list-style-type: none;
}

.bg {
    background: radial-gradient(4rem,
    rgba(255,255,255,0) 80%, 
    var(--color2) 80%,  var(--color2) 99%, 
    rgba(255,255,255, 0) 
    ) 0 0,
    radial-gradient(4rem,
    rgba(255,255,255,0) 80%, 
    var(--color2) 80%,  var(--color2) 99%,  
    rgba(255,255,255, 0) 
    ) 4em 4em;
  background-size: 8rem 8rem;
  background-color:  var(--color1);
}