<section style="display: flex; justify-content: center; padding: 2em 1em;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Team Editor</mat-card-title>
      <mat-card-subtitle>More information about what is active and what isn't</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="display: flex; flex-direction: column;">
      <div *ngFor="let member of team$ | async;" style="display: flex; align-items: center;">
        <div style="max-width: 200px;">
          <img *ngIf="member.url" [src]="member.url" width="100%" height="100%">
        </div>
        <div>
          {{member.name}} - {{member.position}}
          <button mat-icon-button color="primary" (click)="onEdit(member)">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onRemove(member)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>


<button mat-icon-button class="add-button" (click)="onAdd()">
  <mat-icon>add_circle</mat-icon>
</button>
