// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$interview-primary: mat-palette($mat-indigo);
$interview-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$interview-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$interview-theme: mat-light-theme((color: (primary: $interview-primary,
      accent: $interview-accent,
      warn: $interview-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($interview-theme);

/* You can add global styles to this file, and also import other style files */
// @import url(//fonts.googleapis.com/css2?family=Quattrocento&Dekko&family=Montserrat:wght@100;400&display=swap);
// @import url(//fonts.googleapis.com/css?family=Patrick+Hand+SC|Bangers|Happy+Monkey);

@font-face {
  font-family: Pirulen;
  src: url(assets/fonts/PirulenRg-Regular.woff) format("woff");
}

/*
 --- FONTS ---
 BARBERSHOP -> quattrocento
 DENIM -> Pirulen

 HEADER NAVIGATION FONT -> Dekko
 SECTION HEADERS -> BANGERS
 BODY FONT -> Montserrat
*/
* {
  -webkit-overflow-scrolling: touch;
}

:root {
  --button-bg: rgba(41, 114, 182, 0.6);
  --main-color: rgb(41, 114, 182)
}

.test {
  border: 1px solid red;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Montserrat', sans-serif;
  color: white;
}


.title {
  font-family: "Bangers";
  margin: 10px 0 0 0;
  text-shadow: -1px -1px var(--main-color), 1px 1px rgb(15, 63, 107), 2px 2px rgb(15, 63, 107);
  width: 100%;
  text-align: center;
  font-size: 64px;
  color: #FFF;
  letter-spacing: 2px;
}

html,
body {
  height: 100%;
}


.mat-dialog-container {
  // background:  rgba(255,255,255,.9) !important;
  border: 5px solid black;
  border-radius: 0;
}


@media screen and (max-width: 550px) {
  .cdk-overlay-pane {
    max-width: 100vw !important;
  }
}


// ADMIN STYLES (ANGULAR MATERIAL)
.mat-tab-group {
  height: 100vh;
}

.mat-tab-body-wrapper {
  height: 100%;
  background-color: #333;
}

.edit-button .mat-button-wrapper .mat-icon,
.add-button .mat-button-wrapper .mat-icon {
  font-size: 1em;
  line-height: 1em;
  height: 1em;
  width: 1em;
}

.mat-list-base .mat-list-item .mat-line {
  white-space: normal !important;
}