@font-face {
  font-family: Pirulen;
  src: url(assets/fonts/PirulenRg-Regular.woff) format("woff");
}

/*
 --- FONTS ---
 BARBERSHOP -> quattrocento
 DENIM -> Pirulen

 HEADER NAVIGATION FONT -> Dekko
 SECTION HEADERS -> BANGERS
 BODY FONT -> Montserrat
*/
* {
  -webkit-overflow-scrolling: touch;
}

:root {
  --button-bg: rgba(41, 114, 182, 0.6);
  --main-color: rgb(41, 114, 182) ;
}

.test {
  border: 1px solid red;
}

h1,
h2,
h3,
h4,
h5,
a,
li,
p {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.title {
  font-family: "Bangers";
  margin: 10px 0 0 0;
  text-shadow: -1px -1px var(--main-color), 1px 1px rgb(15, 63, 107), 2px 2px rgb(15, 63, 107);
  width: 100%;
  text-align: center;
  font-size: 64px;
  color: #FFF;
  letter-spacing: 2px;
}

html,
body {
  height: 100%;
}


.mat-dialog-container {
  // background:  rgba(255,255,255,.9) !important;
  border: 5px solid black;
  border-radius: 0;
}


@media screen and (max-width: 550px) {
  .cdk-overlay-pane {
    max-width: 100vw !important;
  }
}


// ADMIN STYLES (ANGULAR MATERIAL)
.mat-tab-group {
  height: 100vh;
}

.mat-tab-body-wrapper {
  height: 100%;
  background-color: #333;
}

.edit-button .mat-button-wrapper .mat-icon,
.add-button .mat-button-wrapper .mat-icon {
  font-size: 1em;
  line-height: 1em;
  height: 1em;
  width: 1em;
}

.mat-list-base .mat-list-item .mat-line {
  white-space: normal !important;
}


.mat-radio-outer-circle {
  border-color:  var(--main-color) !important;
}

.mat-radio-inner-circle {
  background-color: var(--main-color) !important;
}

.mat-ripple-element {
  background-color: var(--main-color) !important;
}

.mat-form-field-outline {
  color: var(--main-color) !important;
}