.bg {
  background-image: url('../../assets/media/wood.png');
  background-position: center;
  background-size: cover;
}


.title {
  transform: skew(-10deg, 0);
  padding-bottom: 12px;
}

.outer {
  clip-path: polygon(0 80px, 100% 0px, 90% calc(100% - 239px), 0% calc(100% - 140px));
  margin-top: -64px;
  height: calc(100% + 160px);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: stretch;
  opacity: 0;
}

.inner {
  clip-path: polygon(0 80px, 100% 0px, 90% calc(100% -  239px), 0% calc(100% - 140px));
  position: relative;
  top: 5px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px 22% 40px;
}


.frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member {
  opacity: 0;
  @for $x from 2 through 6 {
    &:nth-child(#{$x}) {
      animation-delay: 200ms * ($x);
    }
  }
}

@media screen and (max-width: 1200px) {
  .frame {
    width: 100%;
  }

  .content {
    padding: 50px 0;
  }

  .outer {
    clip-path: polygon(0 80px, 100% 0px, 90% calc(100% - 145px), 0% calc(100% - 100px));
  }

  .inner {
    clip-path: polygon(0 80px, 100% 0px, 90% calc(100% - 145px), 0% calc(100% - 100px));
  }
}

@media screen and (max-width: 960px) {
  .outer {
    clip-path: polygon(0 0%, 100% 80px, 100% 100%, 45% calc(100% - 100px), 0% calc(100% - 75px));
    margin-bottom: -56px;
  }

  .inner {
    clip-path: polygon(0 0%, 100% 80px, 100% 100%, 45% calc(100% - 100px), 0% calc(100% - 75px));
    padding-bottom: 100px;
    margin-bottom: 12px;
  }
  .content {
    padding-top: 80px;
  }

}


.animateIn {
  animation: fade .7s ease-in-out forwards;
}

.animateCellIn {
  animation: fadeLeft .7s ease-in-out forwards;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translate(-5%) scale(1.2);
  }
  to {
    opacity: 1;
    transform: translate(0px) scale(1);
  }
}

